# Flutter/Dart
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache/
**/.pub/
**/pubspec.lock

# Android
**/android/.gradle/
**/android/local.properties
**/android/key.properties
**/android/app/google-services.json
**/*.keystore
**/*.jks

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec

# Web
**/web/firebase-config.js

# Supabase
**/.env
**/supabase/.temp/

# Debug symbols
**/build/symbols/

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.iml
**/node_modules/
.firebase/
*.zip
*.bak
*.bak[0-9]
